<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/images/logo-foodness-smaller.png" width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link nav-position button2">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-position button1" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Change Password</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!--[routerLink]="['/register']" routerLinkActive="active"-->